#################################################################
# FUNCTIONS TO MAKE CONFIGURATION LESS VERBOSE
#

turbo0()   { zplugin ice wait"0a" lucid             "${@}"; }
turbo1()   { zplugin ice wait"0b" lucid             "${@}"; }
turbo2()   { zplugin ice wait"0c" lucid             "${@}"; }
zcommand() { zplugin ice wait"0b" lucid as"command" "${@}"; }
zload()    { zplugin load                           "${@}"; }
zsnippet() { zplugin snippet                        "${@}"; }

# oh-my-zsh
zplugin ice wait'0' lucid
zplugin ice svn; zplugin snippet OMZ::plugins/emoji
zplugin ice wait'0' lucid
zplugin ice svn; zplugin snippet OMZ::plugins/pip
zplugin ice wait'0' lucid
zplugin ice svn; zplugin snippet OMZ::plugins/python
zplugin ice wait'0' lucid
zplugin ice svn; zplugin snippet OMZ::plugins/virtualenv
zplugin ice wait"0" lucid
zplugin ice svn; zplugin snippet OMZ::plugins/git
zplugin ice wait"0" lucid
zplugin ice svn; zplugin snippet OMZ::plugins/archlinux
zplugin ice wait"0" lucid
zplugin ice svn; zplugin snippet OMZ::plugins/tmux
zplugin ice wait"0" lucid
zplugin ice svn; zplugin snippet OMZ::plugins/urltools

zplugin ice wait '0' lucid compile"*.lzui"
zplugin light zdharma/zui

zplugin ice wait'[[ -n ${ZLAST_COMMANDS[(r)cras*]} ]]'
zplugin light zdharma/zplugin-crasis

#
# Prezto Tmux
#

# Auto start a session when Zsh is launched in a local terminal.
# zstyle ':prezto:module:tmux:auto-start' local 'yes'

# Auto start a session when Zsh is launched in a SSH connection.
# zstyle ':prezto:module:tmux:auto-start' remote 'yes'

# Integrate with iTerm2.
# zstyle ':prezto:module:tmux:iterm' integrate 'yes'

zplugin ice wait'0' lucid svn
zplugin snippet PZT::modules/tmux
## Prompt

{% if zsh_prompt == 'agkozak' %}
zplugin ice wait '0' lucid
zplugin light agkozak/agkozak-zsh-prompt
{% elif zsh_prompt == 'powerlevel10k' %}
zplugin ice wait '0' lucid
zplugin light romkatv/powerlevel10k
{% elif zsh_prompt == 'alien' %}
zplugin ice wait '0' lucid pick"alien.zsh" multisrc'modules/{async,git,init,prompt,python,svn,system,theme}.zsh'
zplugin load eendroroy/alien
{% endif %}
zplugin ice as"command" cp"httpstat.sh -> httpstat" pick"httpstat"
zplugin light b4b4r07/httpstat

zplugin ice wait'0' lucid as"program" pick"zsh-better-npm-completion.plugin.zsh"; zplugin light lukechilds/zsh-better-npm-completion

{% if ansible_facts['os_family']|lower == "darwin" %}
zplugin ice svn; zplugin snippet PZT::modules/osx
{% endif %}

{% if ansible_facts['distribution']|lower == "debian" %}
zplugin ice wait '0' lucid
zplugin snippet OMZ::plugins/debian/debian.plugin.zsh
{% endif %}

{% if ansible_facts['distribution']|lower == "ubuntu" %}
zplugin ice wait "0" lucid
zplugin snippet OMZ::plugins/ubuntu/ubuntu.plugin.zsh
{% endif %}

############### History Substring
# bind UP and DOWN keys
bindkey "${terminfo[kcuu1]}" history-substring-search-up
bindkey "${terminfo[kcud1]}" history-substring-search-down

# Utilities & enhancements
zplugin ice wait"0" lucid
zplugin light "zsh-users/zsh-history-substring-search"

zplugin ice wait"2" lucid as"program" pick"$ZPFX/bin/git-now" make"prefix=$ZPFX install"
zplugin light iwata/git-now

zplugin ice wait"2" lucid as"program" pick"$ZPFX/bin/git-alias" make"PREFIX=$ZPFX" nocompile
zplugin light tj/git-extras

if [ -f ${HOME}/.zplugin/plugins/tj---git-extras/etc/git-extras-completion.zsh ]; then
    source ${HOME}/.zplugin/plugins/tj---git-extras/etc/git-extras-completion.zsh
fi

## fzf
# Install `fzf` bynary and tmux helper script
zcommand from"gh-r";         zload junegunn/fzf-bin
zcommand pick"bin/fzf-tmux"; zload junegunn/fzf
# Create and bind multiple widgets using fzf
turbo0 multisrc"shell/{completion,key-bindings}.zsh" \
        id-as"junegunn/fzf_completions" pick"/dev/null"
    zload junegunn/fzf

zplugin ice wait"0" lucid
zplugin light skx/sysadmin-util

zplugin ice wait"0" lucid
zplugin light rimraf/k

zplugin ice wait"0" lucid
zplugin light b4b4r07/enhancd

zplugin ice wait"0" lucid
zplugin light djui/alias-tips

# Install local completions quietly

zplugin ice wait"0"
zplugin creinstall -q $ZSH/roles/zsh/completions

{% if ansible_facts['os_family']|lower == "darwin" %}
zplugin ice wait"0"
zplugin creinstall -q  /usr/local/share/zsh/site-functions
{% endif %}

zplugin ice wait"0" lucid blockf
zplugin light zsh-users/zsh-completions



#################################################################
# IMPORTANT PLUGINS
#

# Additional completion definitions
turbo0 blockf
zload zsh-users/zsh-completions

# History search by `Ctrl+R`
turbo1; zload zdharma/history-search-multi-word

# Syntax highlighting
# (compinit without `-i` spawns warning on `sudo -s`)
turbo0 atinit"ZPLGM[COMPINIT_OPTS]='-i' zpcompinit; zpcdreplay"
    zload zdharma/fast-syntax-highlighting

# Autosuggestions
# Note: should go _after_ syntax highlighting plugin
turbo0 atload"_zsh_autosuggest_start"; zload zsh-users/zsh-autosuggestions
export ZSH_AUTOSUGGEST_USE_ASYNC=1
export ZSH_AUTOSUGGEST_MANUAL_REBIND=1


#################################################################
# REMOVE TEMPORARY FUNCTIONS
#
unset -f turbo0
unset -f zload
unset -f zsnippet