# Language
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

#### Editors
export EDITOR=nvim
export VISUAL=${EDITOR}
export GIT_EDITOR=${EDITOR}
export PAGER='less'
{%  if ansible_os_family|lower != 'darwin' %}[[ -z $DISPLAY && $XDG_VTNR -eq 1 ]] && exec startx{% else %}{% endif %}

# annoying macos
{% if ansible_os_family|lower == 'darwin' %}
export SHELL=/usr/local/bin/zsh
{% else %}
export SHELL=/bin/zsh
{% endif %}
