# Dotfiles
export ZSH=${HOME}/dotfiles
export ZDOTDIR={{ zdot_dir }}
export GOPATH=${HOME}/go
export PROJECT=${HOME}/projects
export WORK=${PROJECT}/work

#### Editors
export EDITOR=nvim
export VISUAL=${EDITOR}
export GIT_EDITOR=${EDITOR}
export PAGER=less
export MANPAGER=less
