#!/usr/bin/env zsh

zturbo0a()   { zinit ice wait"0a" silent             "${@}"; }
zturbo0b()   { zinit ice wait"0b" silent             "${@}"; }
zturbo0c()   { zinit ice wait"0c" silent             "${@}"; }
zturbo0()   { zinit ice wait"0" silent             "${@}"; }
zturbo1a()   { zinit ice wait"1a" silent             "${@}"; }
zturbo1b()   { zinit ice wait"1b" silent             "${@}"; }
zturbo1c()   { zinit ice wait"1c" silent             "${@}"; }
zturbo1d()   { zinit ice wait"1d" silent             "${@}"; }
zturbo1e()   { zinit ice wait"1e" silent             "${@}"; }
zturbo1f()   { zinit ice wait"1f" silent             "${@}"; }
zturbo1()   { zinit ice wait"1" silent             "${@}"; }
zturbo2a()   { zinit ice wait"2a" silent             "${@}"; }
zturbo2b()   { zinit ice wait"2b" silent             "${@}"; }
zturbo2c()   { zinit ice wait"2c" silent             "${@}"; }
zturbo2d()   { zinit ice wait"2d" silent             "${@}"; }
zturbo2e()   { zinit ice wait"2e" silent             "${@}"; }
zturbo2f()   { zinit ice wait"2f" silent             "${@}"; }
zturbo2()   { zinit ice wait"2" silent             "${@}"; }
zcommand() { zinit ice wait"0b" silent as"command" "${@}"; }
zlight()  { [ -zlight $2 ] && zinit light "${@}" || zinit "${@}"; }
zsnippet() { zinit snippet                        "${@}"; }
zsvn() { zinit ice svn                        "${@}"; }
zcr() { zinit creinstall -q "${@}"; }
zt()  { zinit depth'3' lucid ${1/#[0-9][a-c]/wait"$1"} "${@:2}"; }
zct() { .zinit-ice load"[[ \${MYPROMPT} = ${1} ]]" unload"[[ \${MYPROMPT} != ${1} ]]" \
atinit'[ -f "${thmf}/${MYPROMPT}-pre" ] && source "${thmf}/${MYPROMPT}-pre"' \
atload'![ -f "${thmf}/${MYPROMPT}-post" ] && source "${thmf}/${MYPROMPT}-post"'; \
ZINIT_ICE+=( "${(kv)ZINIT_ICES[@]}"); }
ze() { zinit ice lucid                                         "${@}"; } # Regular Ice
z()  { if [ -z $2 ]; then zinit light "${@}"; else zinit "${@}"; fi; } # zinit


if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
typeset -g POWERLEVEL9K_INSTANT_PROMPT=quiet
fi


# Load the secrets file
if [ -e ${HOME}/.secrets ]; then
source ${HOME}/.secrets
fi

if [[ "$OSTYPE" == darwin* && -x /usr/libexec/path_helper ]]; then
eval "$(/usr/libexec/path_helper -s)"
fi

typeset -U path
typeset -U fpath
typeset -U manpath

# Homebrew
if [[ "$OSTYPE" == darwin* && "${+commands[brew]}" == 1 ]]; then
BREW_PREFIX="$(brew --prefix)"

path=( "${BREW_PREFIX}/bin"
"${BREW_PREFIX}/sbin"
"${path[@]}" )

fpath=( "${BREW_PREFIX}/share/zsh/site-functions"
"${fpath[@]}" )

manpath=( "${BREW_PREFIX}/share/man"
"${BREW_PREFIX}/opt/coreutils/libexec/gnuman"
"${BREW_PREFIX}/opt/findutils/libexec/gnuman"
"${BREW_PREFIX}/opt/gnu-sed/libexec/gnuman"
"${BREW_PREFIX}/opt/gnu-tar/libexec/gnuman"
"${BREW_PREFIX}/opt/grep/libexec/gnuman"
"${manpath[@]}" )
fi

##############################################################
# GLOBAL CONFIG
##############################################################

# ASDF
. ${HOME}/.asdf/asdf.sh

# Homebrew options
{% if ansible_facts['os_family']|lower == "darwin" %}
export HOMEBREW_INSTALL_BADGE="⚗️"
export HOMEBREW_NO_ANALYTICS=1
{% endif %}

# FZF
[[ -f ${HOME}/.fzf.zsh ]] && . ${HOME}/.fzf.zsh
# Base16 {{ base16.theme[default_theme]['scheme_name'] }}
# Author: {{ base16.theme[default_theme]['scheme_author'] }}

_gen_fzf_default_opts() {

local color00='#{{ base16.theme[default_theme]['base00_hex'] }}'
local color01='#{{ base16.theme[default_theme]['base01_hex'] }}'
local color02='#{{ base16.theme[default_theme]['base02_hex'] }}'
local color03='#{{ base16.theme[default_theme]['base03_hex'] }}'
local color04='#{{ base16.theme[default_theme]['base04_hex'] }}'
local color05='#{{ base16.theme[default_theme]['base05_hex'] }}'
local color06='#{{ base16.theme[default_theme]['base06_hex'] }}'
local color07='#{{ base16.theme[default_theme]['base07_hex'] }}'
local color08='#{{ base16.theme[default_theme]['base08_hex'] }}'
local color09='#{{ base16.theme[default_theme]['base09_hex'] }}'
local color0A='#{{ base16.theme[default_theme]['base0A_hex'] }}'
local color0B='#{{ base16.theme[default_theme]['base0B_hex'] }}'
local color0C='#{{ base16.theme[default_theme]['base0C_hex'] }}'
local color0D='#{{ base16.theme[default_theme]['base0D_hex'] }}'
local color0E='#{{ base16.theme[default_theme]['base0E_hex'] }}'
local color0F='#{{ base16.theme[default_theme]['base0F_hex'] }}'

export FZF_DEFAULT_OPTS="
--color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
--color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
--color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts

export FZF_DEFAULT_COMMAND="fd --type f --hidden --follow --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_T_OPTS="--preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"
export FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview' --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort' --header 'Press CTRL-Y to copy command into clipboard' --border"
export FZF_TMUX_HEIGHT="30%"

# ssh_agent
eval "$(ssh-agent -s)" >/dev/null

for i in ecdsa ecdsa_work ed22519 rsa rsa_office rsa_personal rsa_work; do
  ssh-add id_${i} 2> /dev/null
done

WORDCHARS=${WORDCHARS//[\/]}

export PAGER=less

# Python
export PYTHONSTARTUP="${HOME}/.pyrc.py"

# Gpg2
export GPG_TTY=$(tty)

fast-theme default 2> /dev/null

# Z
export _Z_CMD=z

# GO
export GOBIN=${HOME}/.asdf/shims

# GCLOUD
export CLOUDSDK_PYTHON=python3

{% if ansible_facts['os_family']|lower == "darwin" %}
path=( {% for item in zsh_path %}
 "{{ item }}"
 {% endfor %}
 {% for item in zsh_mac_path %}
 "{{ item }}"
 {% endfor %}
 "${path[@]}" )
 {% endif %}

{% if ansible_facts['os_family']|lower == "debian" %}
path=( {% for item in zsh_path %}
 "{{ item }}"
 {% endfor %}
 {% for item in zsh_debian_path %}
 "{{ item }}"
 {% endfor %}
 "${path[@]}" )
 {% endif %}

{% if ansible_facts['os_family']|lower == "archlinux" %}
export LD_LIBRARY_PATH=/usr/local/lib:/usr/lib
export MAKEFLAGS="-j9 -l8"
path=( {% for item in zsh_path %}
 "{{ item }}"
 {% endfor %}
 {% for item in zsh_arch_path %}
 "{{ item }}"
 {% endfor %}
 "${path[@]}" )
 {% endif %}

# Rust
export CARGO_HOME="${HOME}/.cargo"
path=( "${CARGO_HOME}/bin" "${path[@]}" )
if [[ "${+commands[rustc]}" == 1 ]]; then
export RUST_SRC_PATH="$(rustc --print sysroot)/lib/rustlib/src/rust/src"
fi

# Go
export ASDF_ROOT="${HOME}/.asdf"
export GOROOT="${HOME}/.asdf/installs/golang/1.13.7/go"
export GOPATH="${HOME}/go"
path=( "${GOROOT}/bin"
"${ASDF_ROOT}/shims"
"${GOROOT}/bin"
"${path[@]}" )


# Google Cloud SDK
if [[ -n "$BREW_PREFIX" ]]; then
export CLOUDSDK_ROOT_DIR="${BREW_PREFIX}/Caskroom/google-cloud-sdk/latest/google-cloud-sdk"
fi
if [[ -z "$CLOUDSDK_ROOT_DIR" && -d "$CLOUDSDK_ROOT_DIR" ]]; then
. "${CLOUDSDK_ROOT_DIR}/path.zsh.inc"
fi

path=( "${HOME}/.local/bin" "${path[@]}" )
fpath=( "${ZDOTDIR}/functions"
"${ZDOTDIR}/completions"
"${fpath[@]}" )

export PATH
export FPATH
export MANPATH

##############################################################
# ZINIT https://github.com/zdharma/zinit
##############################################################

ZINIT_PATH="${HOME}/.zinit"
if [[ ! -f ${ZINIT_PATH}/bin/zinit.zsh ]]; then
if (( $+commands[git] )); then
    git clone https://github.com/zdharma/zinit.git ${ZINIT_PATH}/bin
else
    echo 'git not found' >&2
    exit 1
    fi
fi

source ${ZINIT_PATH}/bin/zinit.zsh

autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# compinit
zinit cdreplay -q

# local snippets

zinit wait"2b" lucid multisrc'(bindings|generic|history|dir|completions).zsh'
zinit snippet ${ZDOTDIR}

zinit ice wait'2c' lucid atinit'local file; for file in *.zsh; do source "$file"; done'; zinit light ${ZDOTDIR}/functions

# Do not load the prompt asynchronously since it's super fast anyways!
# Theme options

# PROMPT
setopt promptsubst
zinit ice depth=1 atload'!source ${ZDOTDIR}/prompt.zsh; _p9k_precmd' nocd
zinit light romkatv/powerlevel10k

zt 0a light-mode for \
        OMZ::plugins/python/python.plugin.zsh \
        OMZ::plugins/virtualenv/virtualenv.plugin.zsh \
        OMZ::plugins/archlinux/archlinux.plugin.zsh \
        OMZ::plugins/urltools/urltools.plugin.zsh \
        OMZ::plugins/nmap/nmap.plugin.zsh \
        OMZ::plugins/kubectl/kubectl.plugin.zsh \
        OMZ::plugins/asdf/asdf.plugin.zsh \
    as"program" pick"zsh-better-npm-completion.plugin.zsh" \
        lukechilds/zsh-better-npm-completion \
        skx/sysadmin-util \
        rimraf/k \
    compile'{hsmw-*,test/*}' \
        zdharma/history-search-multi-word

zinit svn wait"0a" lucid for \
    OMZ::plugins/tmux \
    OMZ::plugins/extract \
    OMZ::plugins/command-not-found


zt 0b light-mode for \
        OMZ::lib/git.zsh \
    atload"unalias grv" lucid \
        OMZ::plugins/git/git.plugin.zsh

zcommand cp"httpstat.sh -> httpstat" pick"httpstat"
zlight b4b4r07/httpstat

{% if ansible_facts['os_family']|lower == "darwin" %}
zsvn
zsnippet OMZ::plugins/osx
{% endif %}

{% if ansible_facts['distribution']|lower == "debian" %}
zturbo0
zsnippet OMZ::plugins/debian/debian.plugin.zsh
{% endif %}

{% if ansible_facts['distribution']|lower == "ubuntu" %}
zturbo0
zsnippet OMZ::plugins/ubuntu/ubuntu.plugin.zsh
{% endif %}

# Completion for Docker
zinit ice wait lucid as'completion'
zsnippet https://github.com/docker/cli/blob/master/contrib/completion/zsh/_docker

# Docker Compose
zinit ice wait lucid as'completion'
zsnippet https://github.com/docker/compose/blob/master/contrib/completion/zsh/_docker-compose

# kubectl
zinit ice wait lucid as'completion'
zsnippet https://github.com/nnao45/zsh-kubectl-completion/blob/master/_kubectl

## fzf
# Install `fzf` bynary and tmux helper script

zinit ice wait lucid as'program' pick"$ZPFX/bin/(fzf|fzf-tmux)" \
atclone"cp shell/completion.zsh _fzf_completion; \
cp bin/(fzf|fzf-tmux) $ZPFX/bin; \
PREFIX=$ZPFX ./install" \
atload"source $HOME/.fzf.zsh"
zinit light junegunn/fzf

# fzy
zcommand make"!PREFIX=$ZPFX install" \
atclone"cp contrib/fzy-* $ZPFX/bin/" \
pick"$ZPFX/bin/fzy*"
zlight jhawthorn/fzy

zturbo0b has'man'; z ael-code/zsh-colored-man-pages

zturbo0a has'git' pick'init.zsh' atload'alias gi="git-ignore"' blockf
zlight laggardkernel/git-ignore

zturbo0a make!"!PREFIX=$ZPFX" \
atclone"cp build/def-* $ZPFX/bin/"
zlight sei40kr/zsh-fast-alias-tips

zturbo0b has'git-extras'
zsnippet https://github.com/tj/git-extras/blob/master/etc/git-extras-completion.zsh

zinit ice wait"2" lucid as"program" pick"bin/git-dsf"
zinit light zdharma/zsh-diff-so-fancy
#################################################################
# IMPORTANT PLUGINS

export ENHANCD_FILTER=filter

zinit ice pick"init.sh" silent \
atload'export ENHANCD_FILTER="fzf --height 50% --reverse --ansi";export ENHANCD_DOT_SHOW_FULLPATH=1'
zinit light "b4b4r07/enhancd"

zturbo0b has'notify-send' atload'
AUTO_NOTIFY_THRESHOLD=300;
AUTO_NOTIFY_IGNORE+=(
"cht.sh"
"cht"
"lazydocker"
"lazygit"
"tmux"
"yarn"
"vagrant ssh"
)
'
z MichaelAquilina/zsh-auto-notify

# fast-syntax-highlighting
zinit ice wait lucid atinit'zpcompinit; zpcdreplay' nocd
zinit light zdharma/fast-syntax-highlighting

zinit ice wait lucid blockf atpull'zinit creinstall -q .'
zinit light zsh-users/zsh-completions

# history-substring-search for smarter up/down arrow
# MUST be after fast-syntax-highlighting
zinit ice wait lucid atload'setup_history_substring_search' nocd
zinit light zsh-users/zsh-history-substring-search
setup_history_substring_search() {
export HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND=''
bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down
}

# Autosuggestions
zinit ice wait lucid atload'_zsh_autosuggest_start' nocd
zinit light zsh-users/zsh-autosuggestions
export ZSH_AUTOSUGGEST_USE_ASYNC=1
export ZSH_AUTOSUGGEST_MANUAL_REBIND=1
export ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=20


# The next line updates PATH for the Google Cloud SDK.
if [ -f '/usr/local/bin/google-cloud-sdk/path.zsh.inc' ]; then . '/usr/local/bin/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/usr/local/bin/google-cloud-sdk/completion.zsh.inc' ]; then . '/usr/local/bin/google-cloud-sdk/completion.zsh.inc'; fi

if (( ${+ztermtitle} )); then
case ${TERM} in
xterm*|*st)
precmd() { print -Pn "\e]0;${ztermtitle}\a" }
precmd  # we execute it once to initialize the window title
;;
esac
fi

# aliases
{% for alias in zsh_aliases %}
    {% if alias.alias != '' %}
        alias '{{ alias.alias }}'="{{ alias.action }}"
    {% endif %}
{% endfor %}

{% for alias in zsh_misc_aliases %}
    {% if alias.alias != '' %}
        alias '{{ alias.alias }}'="{{ alias.action }}"
    {% endif %}
{% endfor %}

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
alias "$method"="lwp-request -m '$method'"
done

# ruby aliases
{% for alias in zsh_ruby_aliases %}
    {% if alias.alias != '' %}
        alias {{ alias.alias }}='{{ alias.action }}'
    {% endif %}
{% endfor %}

# python aliases
{% for alias in zsh_python_aliases %}
    {% if alias.alias != '' %}
        alias {{ alias.alias }}='{{ alias.action }}'
    {% endif %}
{% endfor %}

{% if ansible_facts['os_family']|lower == "archlinux" or  ansible_facts['os_family']|lower == "debian" %}
    # linux only aliases
    {% for alias in zsh_linux_aliases %}
        {% if alias.alias != '' %}
            alias '{{ alias.alias }}'="{{ alias.action }}"
        {% endif %}
    {% endfor %}
{% endif %}

{% if ansible_facts['os_family']|lower == "darwin" %}
    # mac only aliases
    {% for alias in zsh_mac_aliases %}
        {% if alias.alias != '' %}
            alias '{{ alias.alias }}'="{{ alias.action }}"
        {% endif %}
    {% endfor %}
{% endif %}

zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'

zstyle ':completion:*' insert-tab pending


#################################################################
# REMOVE TEMPORARY FUNCTIONS
#
unset -f zturbo1a
unset -f zturbo1b
unset -f zturbo1c
unset -f zturbo1d
unset -f zturbo1e
unset -f zturbo1f
unset -f zturbo1
unset -f zturbo2a
unset -f zturbo2b
unset -f zturbo2c
unset -f zturbo2d
unset -f zturbo2e
unset -f zturbo2f
unset -f zturbo2
unset -f zlight
unset -f zcommand
unset -f zsvn
unset -f zsnippet
unset -f zcr
unset -f zturbo0 zturbo0a zturbo0b zturbo0c zt zct ze z

# use .localrc for SUPER SECRET CRAP that you don't
# want in your public, versioned repo.
# shellcheck disable=SC1090
[ -f ${HOME}/.localrc ] && . ${HOME}/.localrc

### After the last of the compdefs

{ # idea totally stolen from prezto
# Compile the completion dump to increase startup speed.
zcompdump="${ZDOTDIR:-$HOME}/.zcompdump"
if [[ -s "$zcompdump" && (! -s "${zcompdump}.zwc" || "$zcompdump" -nt "${zcompdump}.zwc") ]]; then
    zcompile "$zcompdump"
fi
} &!

