#!/usr/bin/env zsh

zcommand() { zinit ice wait"0b" silent as"command" "${@}"; }
zlight()  { [ -zlight $2 ] && zinit light "${@}" || zinit "${@}"; }
zsnippet() { zinit snippet "${@}"; }
zt()  { zinit depth'3' lucid ${1/#[0-9][a-c]/wait"$1"} "${@:2}"; }
zct() { .zinit-ice load"[[ \${MYPROMPT} = ${1} ]]" unload"[[ \${MYPROMPT} != ${1} ]]" \
atinit'[ -f "${thmf}/${MYPROMPT}-pre" ] && source "${thmf}/${MYPROMPT}-pre"' \
atload'![ -f "${thmf}/${MYPROMPT}-post" ] && source "${thmf}/${MYPROMPT}-post"'; \
local ZINIT_ICE+=( "${(kv)ZINIT_ICES[@]}"); }
z()  { [ -z $2 ] && zinit light "${@}" || zinit "${@}"; } # zplugin

if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    # shellcheck source=./p10k-instant-prompt-${(%):-%n}.zsh
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
    typeset -g POWERLEVEL9K_INSTANT_PROMPT=quiet
fi

# Load the secrets file
if [ -e ${HOME}/.secrets ]; then
    source ${HOME}/.secrets
fi

{% if ansible_facts['os_family'] == "Darwin" %}
eval "$(/usr/libexec/path_helper -s)"
{% endif %}

# Homebrew
{% if ansible_facts['os_family'] == "Darwin" %}
BREW_PREFIX={{ brew_prefix }}
export MANPATH="{{ zsh_man_path | join(":") }}:${MANPATH}"
{% endif %}
##############################################################
# GLOBAL CONFIG
##############################################################

# ASDF
. "{{ asdf_dir }}"

[[ -f "{{ asdf_plugins_dir }}/java/set-java-home.zsh" ]] && . "{{ asdf_plugins_dir }}/java/set-java-home.zsh"

# Homebrew options
{% if ansible_facts['os_family']|lower == "darwin" %}
export HOMEBREW_INSTALL_BADGE="⚗️"
export HOMEBREW_NO_ANALYTICS=1
{% endif %}

# FZF
[[ -f ${HOME}/.fzf.zsh ]] && . ${HOME}/.fzf.zsh

# Base16 {{ base16.theme[default_theme]['scheme_name'] }}
# Author: {{ base16.theme[default_theme]['scheme_author'] }}

_gen_fzf_default_opts() {

local color00='#{{ base16.theme[default_theme]['base00_hex'] }}'
local color01='#{{ base16.theme[default_theme]['base01_hex'] }}'
local color02='#{{ base16.theme[default_theme]['base02_hex'] }}'
local color03='#{{ base16.theme[default_theme]['base03_hex'] }}'
local color04='#{{ base16.theme[default_theme]['base04_hex'] }}'
local color05='#{{ base16.theme[default_theme]['base05_hex'] }}'
local color06='#{{ base16.theme[default_theme]['base06_hex'] }}'
local color07='#{{ base16.theme[default_theme]['base07_hex'] }}'
local color08='#{{ base16.theme[default_theme]['base08_hex'] }}'
local color09='#{{ base16.theme[default_theme]['base09_hex'] }}'
local color0A='#{{ base16.theme[default_theme]['base0A_hex'] }}'
local color0B='#{{ base16.theme[default_theme]['base0B_hex'] }}'
local color0C='#{{ base16.theme[default_theme]['base0C_hex'] }}'
local color0D='#{{ base16.theme[default_theme]['base0D_hex'] }}'
local color0E='#{{ base16.theme[default_theme]['base0E_hex'] }}'
local color0F='#{{ base16.theme[default_theme]['base0F_hex'] }}'

export FZF_DEFAULT_OPTS="
--color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
--color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
--color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts

export FZF_DEFAULT_COMMAND="fd --type f --hidden --follow --exclude .git"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_T_OPTS="--preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"
export FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview' --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort' --header 'Press CTRL-Y to copy command into clipboard' --border"
export FZF_TMUX_HEIGHT="30%"

# Enhanced
ENHANCD_FILTER='fzf --height 50% --reverse --ansi'
export ENHANCD_DOT_SHOW_FULLPATH=1;
export ENHANCD_FILTER

# ssh_agent
eval "$(ssh-agent -s)" >/dev/null
{% if ansible_facts['os_family'] == "Darwin" %}
ssh-add -K &> /dev/null
{% else %}
ssh-add &> /dev/null
{% endif %}
WORDCHARS=${WORDCHARS//[\/]}

export PAGER=less

# Python
export PYTHONSTARTUP="${HOME}/.pyrc.py"

# Gpg2
export GPG_TTY=$(tty)

fast-theme default 2> /dev/null

# Z
export _Z_CMD=z

# GCLOUD
export CLOUDSDK_PYTHON=python3

# ZDOT items
for i in completions bindings generic history dir; do
    source "${ZDOTDIR}/$i.zsh"
done

for f in $(ls "${ZDOTDIR}"/functions/*.zsh); do
    source "${f}"
done

{% if ansible_facts['os_family']|lower == "darwin" %}
export PATH="{{ zsh_mac_path | join(":") }}:{{ zsh_path | join(":") }}:${PATH}"
{% elif ansible_facts['os_family']|lower == "debian" %}
export PATH="{{ zsh_path | join(":") }}:{{ zsh_debian_path | join(":") }}:${PATH}"
{% elif ansible_facts['os_family']|lower == "archlinux" %}
export LD_LIBRARY_PATH=/usr/local/lib:/usr/lib
export MAKEFLAGS="-j9 -l8"
export PATH="{{ zsh_path | join(":") }}:{{ zsh_arch_path | join(":") }}:${PATH}"
{% endif %}

# Rust
export CARGO_HOME="${HOME}/.cargo"
export PATH="${CARGO_HOME}:${PATH}"
if [[ "${+commands[rustc]}" == 1 ]]; then
export RUST_SRC_PATH="$(rustc --print sysroot)/lib/rustlib/src/rust/src"
fi

# Go
export ASDF_ROOT="{{ asdf_path }}"
export ASDF_DATA_DIR="{{ asdf_path }}"
export ASDF_DIR="{{ asdf_path }}"

export GOROOT="{{ go_install_path }}/go"
export GOPATH="${HOME}/go"
export PATH="${GOROOT}/bin:${ASDF_ROOT}/shims:${PATH}"

##############################################################
# ZINIT https://github.com/zdharma/zinit
##############################################################

ZINIT_PATH="${HOME}/.zinit"
if [[ ! -f ${ZINIT_PATH}/bin/zinit.zsh ]]; then
if (( $+commands[git] )); then
    git clone https://github.com/zdharma/zinit.git ${ZINIT_PATH}/bin
else
    echo 'git not found' >&2
    exit 1
    fi
fi

source ${ZINIT_PATH}/bin/zinit.zsh

autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Do not load the prompt asynchronously since it's super fast anyways!
# Theme options

# PROMPT
setopt promptsubst

zinit light-mode for \
  atload'!source \
    ${ZDOTDIR}/prompt.zsh' \
  nocd \
  romkatv/powerlevel10k

# Turbo 0a
zt 0a light-mode for \
        OMZP::python \
        OMZP::virtualenv \
{% if ansible_facts['os_family']|lower == "archlinux" %}
        OMZP::archlinux \
{% endif %}
        OMZP::urltools \
        OMZP::nmap \
        OMZP::kubectl \
        OMZP::docker-machine \
        OMZP::asdf \
        OMZP::tmux \
        OMZP::extract \
        OMZP::command-not-found \
        OMZP::gcloud \
        skx/sysadmin-util \
        rimraf/k \
    as"program" pick"zsh-better-npm-completion.plugin.zsh" \
        lukechilds/zsh-better-npm-completion \
    has'git' pick'init.zsh' atload'alias gi="git-ignore"' blockf \
        laggardkernel/git-ignore \
    make!"!PREFIX=$ZPFX" \
    atclone"cp build/def-* $ZPFX/bin/" \
        sei40kr/zsh-fast-alias-tips \
    compile'{hsmw-*,test/*}' \
        zdharma/history-search-multi-word

## Turbo 0b
zt 0b lucid light-mode for \
        OMZL::git.zsh \
    atload"unalias grv" \
        OMZP::git \
    as"program" pick"bin/git-dsf" \
        zdharma/zsh-diff-so-fancy

zt 0b light-mode for \
    as"null" \
    pick"init.sh" \
        b4b4r07/enhancd

# Turbo 0c and OS dependent
{% if ansible_facts['os_family']|lower == "darwin" %}
zinit ice svn wait"0c" lucid
zsnippet OMZP::osx
{% endif %}

{% if ansible_facts['distribution']|lower == "debian" %}
zinit ice svn wait"0c" lucid
zsnippet OMZP::debian
{% endif %}

{% if ansible_facts['distribution']|lower == "ubuntu" %}
zinit ice svn wait"0c" lucid
zsnippet OMZP::ubuntu
{% endif %}

# fzy

zt 1a lucid light-mode for \
    as"program" pick"$ZPFX/bin/fzy*" \
    atclone'cp "contrib/fzy-*" "$ZPFX/bin/"' \
    make"!PREFIX=$ZPFX install" \
  jhawthorn/fzy

zcommand cp"httpstat.sh -> httpstat" pick"httpstat"
zlight b4b4r07/httpstat

#### COMPLETION SNIPPETS
#######################################################################################################

zt 2a lucid for \
  as"completion" \
        OMZP::docker/_docker \
  as"completion" \
        OMZP::extract/_extract \
  as"completion" \
        OMZP::terraform/_terraform \
  as"completion" \
        OMZP::pip/_pip \
  as"completion" \
        OMZP::docker-machine/_docker-machine \
  as"completion" \
        OMZP::docker-compose/_docker-compose

#################################################################
# IMPORTANT PLUGINS

# Fast-syntax-highlighting & autosuggestions
zt 2c lucid for \
    atinit"ZINIT[COMPINIT_OPTS]=-C; zpcompinit; zpcdreplay" \
        zdharma/fast-syntax-highlighting \
    atload"!_zsh_autosuggest_start" \
    atinit"export ZSH_AUTOSUGGEST_USE_ASYNC=1; export ZSH_AUTOSUGGEST_MANUAL_REBIND=1; export ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=20" \
        zsh-users/zsh-autosuggestions \
    blockf \
        zsh-users/zsh-completions

# history-substring-search for smarter up/down arrow
# MUST be after fast-syntax-highlighting

zt 2c lucid light-mode for \
  atload"setup_history_substring_search" \
  nocd \
    zsh-users/zsh-history-substring-search

setup_history_substring_search() {
    export HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND=''
    bindkey "$terminfo[kcuu1]" history-substring-search-up
    bindkey "$terminfo[kcud1]" history-substring-search-down
}


if (( ${+ztermtitle} )); then
    case ${TERM} in
        xterm*|*st)
        precmd() { print -Pn "\e]0;${ztermtitle}\a" }
        precmd  # we execute it once to initialize the window title
        ;;
    esac
fi

# aliases
. "$ZDOTDIR/aliases/global_aliases.zsh"

. "$ZDOTDIR/aliases/misc_aliases.zsh"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

# ruby aliases
. "$ZDOTDIR/aliases/ruby_aliases.zsh"

# python aliases
. "$ZDOTDIR/aliases/python_aliases.zsh"

{% if ansible_facts['os_family']|lower == "archlinux" or  ansible_facts['os_family']|lower == "debian" %}
# linux only aliases
. "$ZDOTDIR/aliases/linux_aliases.zsh"
{% endif %}

{% if ansible_facts['os_family']|lower == "darwin" %}
# mac only aliases
. "$ZDOTDIR/aliases/mac_aliases.zsh"
# mac only exports
export BROWSER='open'
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
{% endif %}

#################################################################
# REMOVE TEMPORARY FUNCTIONS
#
unset -f zlight
unset -f zcommand
unset -f zsnippet
unset -f zt
unset -f z

# use .localrc for SUPER SECRET CRAP that you don't
# want in your public, versioned repo.
# shellcheck disable=SC1090
[ -f ${HOME}/.localrc ] && . ${HOME}/.localrc

### After the last of the compdefs

{ # idea totally stolen from prezto
# Compile the completion dump to increase startup speed.
zcompdump="${ZDOTDIR:-$HOME}/.zcompdump"
if [[ -s "$zcompdump" && (! -s "${zcompdump}.zwc" || "$zcompdump" -nt "${zcompdump}.zwc") ]]; then
    zcompile "$zcompdump"
fi
} &!

(( ! ${+functions[p10k]} )) || p10k finalize

export PATH="/usr/local/opt/openssl@1.1/bin:$PATH"
