[Desktop Entry]
Version=1.0
Type=Application
Name=Pycharm Professional

Icon=/opt/pycharm-2019.3.3/bin/pycharm.png
Exec="/opt/pycharm-2019.3.3/bin/pycharm.sh" %f
Comment=Pycharm foo!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
